h1 {
    text-align: center;
    color: rgb(247, 247, 247);
    font-size: 40px;
}

body {background-color: rgb(0, 0, 0);}


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(0, 0, 0);
    padding: 10px;
  }
  .grid-container div {
    /* background-color: #f1f1f1; */
    border: 1px solid black;
    padding: 10px;
    font-size: 30px;
    text-align: center;
  }

  .card{
     height: 700px ;
     width: 500px ;
     background-size: cover ;
    background-repeat: no-repeat ;
  }

  .movie-title{
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(91, 26, 17);
  }